PORT=47832
PUBLIC_URL=http://127.0.0.1:47832
OBS_URL=ws://127.0.0.1:4455
OBS_PASSWORD=
TWITCH_CLIENT_ID=
GOOGLE_CLIENT_ID=
# OBS_EXE_PATH=C:\Program Files\obs-studio\bin\64bit\obs64.exe
# DATA_FILE=data/dashboard.json
